2023-03-03 15:43:20  (rev 0)

2023-03-03 15:43:56  (rev 1)
    +bzip2-1.0.8 (defaults/osx-64)
    +ca-certificates-2023.01.10 (defaults/osx-64)
    +certifi-2022.12.7 (defaults/osx-64)
    +libffi-3.4.2 (defaults/osx-64)
    +ncurses-6.4 (defaults/osx-64)
    +openssl-1.1.1t (defaults/osx-64)
    +pip-22.3.1 (defaults/osx-64)
    +python-3.10.9 (defaults/osx-64)
    +readline-8.2 (defaults/osx-64)
    +setuptools-65.6.3 (defaults/osx-64)
    +sqlite-3.40.1 (defaults/osx-64)
    +tk-8.6.12 (defaults/osx-64)
    +tzdata-2022g (defaults/noarch)
    +wheel-0.38.4 (defaults/osx-64)
    +xz-5.2.10 (defaults/osx-64)
    +zlib-1.2.13 (defaults/osx-64)

